html
	head
		//- include nav.pug
		title Your matches #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		link(rel='stylesheet', type='text/css', href='css/match.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")

	body
		div(class="container")
			h2(class="h2") Find your match
			div(class="containerMatchGallery")
				- for (var i=0; i < allMatches[0].rows.length; i++)
					div(class="oneMatch")
						div(class="match")
							img(class="matchPicture", src=allMatches[0].rows[i].picture)
						div(class="match" id="firstname") #{allMatches[0].rows[i].firstname}
						div(class="match" id="aboutme") #{allMatches[0].rows[i].about}
			div(class="containerMap")
				img(class="map", src="/images/map.png")