html
	head
		include nav.pug
		title Profile page #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		//- div(class="containerProfile")
		//- 	div(class="profileInfo") #{userinfo[0].rows.firstname}
		//- 	div(class="profileInfo") #{userinfo[0].rows.about}
		//- 	div(class="profileInfo")
		//- 		img(class="profilePicture", src=userinfo[0].rows.picture)
		//- 	div(class="dogInfo") #{userinfo[0].rows.firstname}
		//- 	div(class="dogInfo") #{userinfo[0].rows.about}
		//- 	div(class="dogInfo")
		//- 		img(class="dogProfilePicture", src=userinfo[0].rows.picture)