html
	head
		//- include nav.pug
		title Profile page #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		link(rel='stylesheet', type='text/css', href='css/profile.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")

	body
		div(class="container")
			div(class="containerMatchGallery")
				- for (var j=0; j < doginfo[0].rows.length; j++)
					div(class="oneMatch")
						div(class="dogInfo" id="dogname") Meet #{doginfo[0].rows[j].dogname}!
						div(class="dogInfo")
							img(class="dogProfilePicture", src=doginfo[0].rows[j].picture)
						div(class="dogInfo" id="dogname2") #{doginfo[0].rows[j].dogname}
						div(class="dogInfo" id="aboutdog") #{doginfo[0].rows[j].aboutdog}
						div(class="dogInfo" id="sizedog") Size: #{doginfo[0].rows[j].size}
					
				- for (var i=0; i < userinfo[0].rows.length; i++)
					div(class="oneMatch")
						div(class="profileInfo" id="owner") Meet the owner!
						div(class="profileInfo")
							img(class="profilePicture", src=userinfo[0].rows[i].picture)
						div(class="profileInfo" id="firstname") #{userinfo[0].rows[i].firstname}
						div(class="profileInfo" id="aboutme") #{userinfo[0].rows[i].about}
			div(class="containerMap")
				img(class="map", src="/images/map.png")
