html
	head
		include navBar.pug
		title Sign up step 2 #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		div(class="containerSignup")
			input(class="dogProfileButton", type="button", name="dogProfileButton", value="Dog")
			input(class="profileButton", type="button", name="profileButton", value="Dog lover")
			div(class="containerSignupSheetDog")
				form(class="signupSheetDog", ACTION="/signupFormDog", method="POST")
					input(class="dogname", type="text", name="dogname", value="dogname")
					input(class="aboutDog", type="text", name=about, placeholder="About dog")
					div(class="containerDogButtons")
						input(class="dogButton", type="checkbox", src="/", name="smallDogButton")
						input(class="dogButton", type="checkbox", src="/", name="mediumDogButton")
						input(class="dogButton", type="checkbox", src="/", name="largeDogButton")
					input(class="textField", id="email", type="hidden", name="email", value=`${email}`, placeholder="email")
					input(class="textField", id="firstname", type="hidden", name="firstname", value=`${firstname}`, placeholder="firstname")
					input(class="textField", id="lastname", type="hidden", name="lastname", value=`${lastname}`, placeholder="lastname")
					input(class="textField", id="age", type="hidden", name="age", value=`${age}`, placeholder="age")
					input(class="textField", id="dogowner", type="hidden", name="dogowner", value=`${dogowner}`, placeholder="Yes/No")
					input(class="textField", id="streetAddress", type="hidden", name="streetAddress", value=`${streetAddress}`, placeholder="Street Address")
					input(class="textField", id="homeNumber", type="hidden", name="homeNumber", value=`${homeNumber}`, placeholder="Home number")
					input(class="textField", id="city", type="hidden", name="city", value=`${city}`, placeholder="city")
					input(class="textField", id="postCode", type="hidden", name="postCode", value=`${postCode}`, placeholder="Postcode")
					input(class="textField", id="phoneNumber", type="hidden", name="phoneNumber", value=`${phoneNumber}`, placeholder="phoneNumber")
					input(class="submitButton", type="submit", value="Next step")
			div(class="containerSignupSheetPerson")
				Form(class="signupSheetDogLover", ACTION="/signupFormDogLover", method="POST")
					input(class="username", type="text", name="username", value="username")
					input(class="aboutMe", type="text", name=about, placeholder="About me")
					div(class="containerDogButtons")
						div(style="background-image:url('http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')")
							input(class="dogButton", type="checkbox", name="smallDogButton")
						input(class="dogButton", type="checkbox", src="/", name="mediumDogButton")
						input(class="dogButton", type="checkbox", src="http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg", name="largeDogButton")
					input(class="textField", id="email", type="hidden", name="email", value=`${email}`, placeholder="email")
					input(class="textField", id="firstname", type="hidden", name="firstname", value=`${firstname}`, placeholder="firstname")
					input(class="textField", id="lastname", type="hidden", name="lastname", value=`${lastname}`, placeholder="lastname")
					input(class="textField", id="age", type="hidden", name="age", value=`${age}`, placeholder="age")
					input(class="textField", id="dogowner", type="hidden", name="dogowner", value=`${dogowner}`, placeholder="Yes/No")
					input(class="textField", id="streetAddress", type="hidden", name="StreetAddress", value=`${streetAddress}`, placeholder="Street Address")
					input(class="textField", id="homeNumber", type="hidden", name="homeNumber", value=`${homeNumber}`, placeholder="Home number")
					input(class="textField", id="city", type="hidden", name="city", value=`${city}`, placeholder="city")
					input(class="textField", id="postCode", type="hidden", name="postCode", value=`${postCode}`, placeholder="Postcode")
					input(class="textField", id="phoneNumber", type="hidden", name="phoneNumber", value=`${phoneNumber}`, placeholder="phoneNumber")
					input(class="submitButton", type="submit", value="Next step")


	script.
			$(document).ready(function() {
				$(".signupSheetDog").hide()
				$(".signupSheetDogLover").hide()
				$(".dogProfileButton").click(function(){
					$(".signupSheetDog").show()
					$(".signupSheetDogLover").hide()
				})
				$(".profileButton").click(function(){
					$(".signupSheetDogLover").show()
					$(".signupSheetDog").hide()
				})
				console.log($("#email").val())
				console.log($("#age").val())
			})