html
	head
		include nav.pug
		title Sign up step 2 #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		p hello #{email}
		div(class="containerSignup")
			input(class="dogProfileButton", type="button", name="dogProfileButton", value="Dog")
			input(class="profileButton", type="button", name="profileButton", value="Dog lover")
			div(class="containerSignupSheetDog")
				form(class="signupSheetDog", ACTION="/signupFormDog", method="POST", enctype="multipart/form-data")
					input(class="dogname", type="text", name="dogname", value="dogname")
					input(class="aboutDog", type="text", name=about, placeholder="About dog")
					//- input(class="dogProfilePicture", id="dogProfilePicture", type="file", name="dogProfilePicture", accept="image/*", onchange="loadFile(event)")
					//- img(class="outputDogPicture")
					div(class="containerDogButtons")
						input(id="smallDogButton", class="dogButton", type="checkbox", name="smallDogButton", value="small")
						label(for="smallDogButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
						input(id="mediumDogButton", class="dogButton", type="checkbox", name="mediumDogButton", value="medium")
						label(for="mediumDogButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
						input(id="largeDogButton", class="dogButton", type="checkbox", name="largeDogButton", value="large")
						label(for="largeDogButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
					input(class="submitButton", type="submit", value="Next step")
			div(class="containerSignupSheetPerson")
				Form(class="signupSheetDogLover", ACTION="/signupFormDogLover", method="POST", enctype="multipart/form-data")
					input(class="aboutMe", type="text", name=about, placeholder="About me")
					//- input(class="profilePicture", id="profilePicture", type="file", name="profilePicture", accept="image/*", onchange="loadFile2(event)")
					//- img(class="outputProfilePicture")
					div(class="containerDogButtons")
						input(id="smallDogLoverButton", class="dogButton", type="checkbox", name="smallDogButton", value="small")
						label(for="smallDogLoverButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
						input(id="mediumDogLoverButton", class="dogButton", type="checkbox", name="mediumDogButton", value="medium")
						label(for="mediumDogLoverButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
						input(id="largeDogLoverButton", class="dogButton", type="checkbox", name="largeDogButton", value="large")
						label(for="largeDogLoverButton")
							img(src='http://cf.ltkcdn.net/dogs/images/slide/208198-850x567-Bulmasstiff.jpg')
					input(class="submitButton", type="submit", value="Next step")


	script.
			$(document).ready(function() {
				$(".signupSheetDog").hide()
				$(".signupSheetDogLover").hide()
				$(".dogProfileButton").click(function(){
					$(".signupSheetDog").show()
					$(".signupSheetDogLover").hide()
					//- var loadFile = function(event) {
					//- var output = document.getElementById('outputDogPicture')
					//- output.src = URL.createObjectURL(event.target.files[0])
					})
				
				$(".profileButton").click(function(){
					$(".signupSheetDogLover").show()
					$(".signupSheetDog").hide()
					//- let loadFile2 = function(event) {
					//- var output = document.getElementById('outputProfilePicture')
					//- output.src = URL.createObjectURL(event.target.files[0])
					
				})
			})